<%- include('./includes/head.ejs',{doc_title:'Home',styles:'styles/styles.css'}) %>
<body>
    <%- include('./includes/header.ejs') %>
    <%- include('./includes/flashMessage.ejs') %>
    
    <main>
        <div class="intro-home">
            <h1>RoamStay</h1>
            <p>'Discover unforgettable stays around the world with <span class="highlight">Airbnb</span>, where every trip is an opportunity to experience unique accommodations and connect with local hosts. Explore cozy homes, chic apartments, and more, all through Airbnb's innovative platform.'</p>
            <a href="/listings">Explore</a>
        </div>
    </main>

    <%- include('./includes/footer.ejs') %>
</body>
</html>